$statuses: "previous", "current", "next";


.status[data-status]::before{
  border-radius: 20px;
  box-shadow: 0 0 2px rgba($text-color, 0.5);
  font-size: 0.8em;
  padding: 2px 20px;
}

@each $status in $statuses{
  .status[data-status="#{$status}"]::before{
    content: "__MSG_status_#{$status}__";
    color: rgba($text-color, 0.8);

    @if $status == "current"{
      background-color: $foreground-color;
      box-shadow: none;
      color: $background-color;
      font-weight: bold;
    }
  }
}
