{
  "env": {
    "browser": true,
    "es6": true,
    "webextensions": true
  },
  "parserOptions": {
    "sourceType": "module"
  },
  "globals": {
    "process": true
  },
  "rules": {
    "semi": 1,
    "no-undef": 2
  }
}
