<!DOCTYPE html>
<html ng-app="now-playing" ng-csp>
<head>
  <meta charset="UTF-8">
  <title>{{'extension_name' | i18n}}</title>
  <link rel="stylesheet" href="popup.css"/>
  <link rel="stylesheet" href="../resources/icons/css/fontello.css"/>
</head>
<body ng-controller="BroadcastController" aria-live>

<header class="alternate" ng-controller="RadioController">
  <span class="volume-range" aria-hidden ng-class="{'level-off': volume === 0, 'level-low': volume > 0 && volume < 0.3, 'level-regular': volume >= 0.3 && volume < 0.7, 'level-high': volume >= 0.7}"></span>
  <input type="range" id="volume-range" step="0.1" min="0" max="1" list="tickmarks" ng-model="volume" tabindex="0">
  <datalist id="tickmarks">
    <option value="0">
    <option value="0.25">
    <option value="0.5">
    <option value="0.75">
    <option value="1">
  </datalist>
  <button type="button" id="playback-button" class="icon-state" ng-click="toggle()" ng-class="status" tabindex="0"></button>
</header>

<main>
  <div class="tiles" data-current-index="{{current_index}}" style="--current-index:{{current_index}};">
    <section ng-repeat="(index,broadcast) in broadcasts" class="status-{{broadcast | status}}" ng-class="{show: current_index === index}" data-start="{{broadcast.start_time | date:'yyyy-MM-dd HH:mm:ss Z'}}" data-end="{{broadcast.end_time | date:'yyyy-MM-dd HH:mm:ss Z'}}">
      <aside class="panel" id="cover">
        <img ng-src="{{broadcast.cover || 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII='}}" class="album-cover" alt="{{broadcast.title}} from {{broadcast.artist}}" loading="lazy" >

        <time class="status" data-status="{{broadcast | status}}" datetime="{{broadcast.start_time | date:'yyyy-MM-dd HH:mm:ss Z'}}" ng-bind="(broadcast | status) !== 'current' ? (broadcast.start_time | ago) : ('status_' + (broadcast | status) | i18n)"></time>
      </aside>

      <article class="panel" id="content">
        <h2 class="title" ng-show="broadcast.title && broadcast.authors">
          <a ng-href="https://www.last.fm/search/tracks?q={{broadcast.title}}+{{broadcast.authors}}" target="_blank">{{broadcast.title}}</a>
        </h2>

        <h2 class="title" ng-show="!broadcast.authors">{{broadcast.title || ('no_information' | i18n)}}</h2>

        <ul class="metadata">
          <li class="album-title icon-cd" ng-show="broadcast.album">
            <a ng-href="https://www.last.fm/search/albums?q={{broadcast.album}}+{{broadcast.authors}}" target="_blank">{{broadcast.album}}</a>
          </li>
          <li class="album-date icon-calendar" ng-show="broadcast.album && broadcast.anneeEditionMusique">
            <date>{{broadcast.anneeEditionMusique}}</date>
          </li>
          <li class="artist icon-user" ng-show="broadcast.interpreters">
            <ul>
              <li ng-repeat="performer in broadcast.interpreters"><a ng-href="https://www.last.fm/search/artists?q={{performer}}" target="_blank">{{performer}}</a></li>
            </ul>
          </li>
          <li class="artist icon-amazon" ng-show="broadcast.external_links.amazon">
            <a ng-href="{{broadcast.external_links.amazon.link}}" target="_blank">Amazon Music</a>
          </li>
          <li class="artist icon-itunes" ng-show="broadcast.external_links.itunes">
            <a ng-href="{{broadcast.external_links.itunes.link}}" target="_blank">iTunes</a>
          </li>
          <li class="artist icon-spotify" ng-show="broadcast.external_links.spotify">
            <a ng-href="{{broadcast.external_links.spotify.link}}" target="_blank">Spotify</a>
          </li>
          <li class="artist icon-youtube" ng-show="broadcast.external_links.youtube">
            <a ng-href="{{broadcast.external_links.youtube.link}}" target="_blank">YouTube</a>
          </li>
        </ul>
      </article>
    </section>
  </div>

  <nav ng-show="broadcasts.length > 1">
    <ul>
      <li>
        <button ng-click="previous()" ng-disabled="current_index === 0">
          <span class="icon-left-circled"></span>
          <span class="label">Previous</span>
        </button>
      </li>
      <li>
        <button ng-click="next()" ng-disabled="current_index === broadcasts.length-1">
          <span class="label">Next</span>
          <span class="icon-right-circled"></span>
        </button>
      </li>
    </ul>
  </nav>
</main>

<footer class="alternate">
  <nav>
    <ul>
      <li class="main">
        <a ng-href="{{archives_url}}" class="iconify" target="_blank">{{station_name}}</a>
      </li>
      <li>
        <span class="icon-lastfm" aria-label="Last.fm Status" ng-class="{'icon-activated': lastfm_enabled, 'icon-deactivated': !lastfm_enabled}"></span>
        <a href="#settings">{{ 'change_settings' | i18n }}</a>
      </li>
    </ul>
  </nav>
</footer>

<script src="./bundle.js" type="module"></script>
</body>
</html>
