<!DOCTYPE html>
<html ng-app="now-playing" ng-csp>
<head>
  <meta charset="UTF-8">
  <title>{{'extension_name' | i18n}}</title>
  <link rel="stylesheet" href="bundle.css"/>
  <link rel="stylesheet" href="../resources/icons/css/fontello-embedded.css"/>
</head>
<body>

<header ng-controller="RadioController">
  <h1>{{'extension_name' | i18n}}</h1>

  <div id="player-controls">
    <button type="button" id="playback-button" class="icon-state" ng-click="toggle()" ng-class="status" tabindex="1"></button>
  </div>
</header>

<main ng-controller="BroadcastController">
  <div class="tiles" data-current-index="{{current_index}}">
    <section ng-repeat="broadcast in broadcasts" class="status-{{broadcast.status}}">
      <aside class="panel" id="cover">
        <img ng-src="{{broadcast.cover}}" class="album-cover" alt="{{broadcast.title}} from {{broadcast.artist}}"/>

        <span class="status" data-status="{{broadcast.status}}"></span>
      </aside>

      <article class="panel" id="content">
        <h2 class="title" ng-show="broadcast.title && broadcast.artist">
          <a href="http://www.last.fm/search?q={{broadcast.title | track}}+{{broadcast.artist | mainArtist}}" target="_blank">{{broadcast.title | track}}</a>
        </h2>

        <h2 class="title" ng-show="!broadcast.artist">{{broadcast.title || ('no_information' | i18n)}}</h2>

        <ul class="metadata">
          <li class="album-title icon-cd" ng-show="broadcast.album">
            <a href="http://www.last.fm/search?q={{broadcast.album | album}}+{{broadcast.artist | mainArtist}}&amp;type=album" target="_blank">{{broadcast.album | album}}</a>
          </li>
          <li class="album-date icon-calendar" ng-show="broadcast.album && broadcast.date">
            <date>{{broadcast.date}}</date>
          </li>
          <li class="artist icon-user" ng-show="broadcast.artist">
            <a href="http://www.last.fm/search?q={{broadcast.artist | mainArtist}}&amp;type=artist" target="_blank">{{broadcast.artist | artist}}</a>
          </li>
        </ul>
      </article>
    </section>
  </div>

  <nav ng-show="broadcasts.length > 1">
    <ul>
      <li><a href="#" ng-click="previous()"><span class="icon-left-open"></span> <span class="label">Previous</span></a></li>
      <li><a href="#" ng-click="next()"><span class="label">Next</span> <span class="icon-right-open"></span></a></li>
    </ul>
  </nav>
</main>

<footer class="alternate">
  <nav>
    <ul>
      <li class="main">
        <a href="http://www.fipradio.fr/archives-antenne" class="iconify" target="_blank">{{'archives' | i18n}}</a>
      </li>
      <li ng-controller="ScrobblingController">
        <input type="checkbox" ng-model="scrobblingEnabled" ng-true-value="'true'" ng-false-value="'false'" id="scrobbling-switch" ng-disabled="!lastfmUsername">
        <label for="scrobbling-switch" ng-show="!lastfmUsername" ng-click="startAuthentication()">{{'enable_scrobbling' | i18n}}</label>
        <label for="scrobbling-switch" ng-show="lastfmUsername" ng-bind-html="'scrobbling_as' | i18n:lastfmUsername | unsafe"></label>
      </li>
    </ul>
  </nav>
</footer>

<script src="./bundle.js"></script>
</body>
</html>
