<!DOCTYPE html>
<html ng-app="now-playing" ng-csp>
<head>
  <meta charset="UTF-8">
  <title>{{'extension_name' | i18n}}</title>
  <link rel="stylesheet" href="popup.css"/>
  <link rel="stylesheet" href="../resources/icons/css/fontello-embedded.css"/>
</head>
<body>

<header ng-controller="RadioController">
  <h1>{{'extension_name' | i18n}}</h1>

  <button type="button" id="playback-button" class="icon-state" ng-click="toggle()" ng-class="status" tabindex="1"></button>
</header>

<main ng-controller="BroadcastController">
  <div class="tiles" data-current-index="{{current_index}}" style="--current-index:{{current_index}};">
    <section ng-repeat="broadcast in broadcasts" class="status-{{broadcast | status}}">
      <aside class="panel" id="cover">
        <img ng-src="{{broadcast.visual}}" class="album-cover" alt="{{broadcast.title}} from {{broadcast.artist}}"/>

        <span class="status" data-status="{{broadcast | status}}"></span>
      </aside>

      <article class="panel" id="content">
        <h2 class="title" ng-show="broadcast.title && broadcast.authors">
          <a ng-href="https://www.last.fm/search/tracks?q={{broadcast.title | track}}+{{broadcast.authors | artist}}" target="_blank">{{broadcast.title | track}}</a>
        </h2>

        <h2 class="title" ng-show="!broadcast.authors">{{broadcast.title || ('no_information' | i18n)}}</h2>

        <ul class="metadata">
          <li class="album-title icon-cd" ng-show="broadcast.titreAlbum">
            <a ng-href="https://www.last.fm/search/albums?q={{broadcast.titreAlbum | album}}+{{broadcast.authors | mainArtist}}" target="_blank">{{broadcast.titreAlbum | album}}</a>
          </li>
          <li class="album-date icon-calendar" ng-show="broadcast.titreAlbum && broadcast.anneeEditionMusique">
            <date>{{broadcast.anneeEditionMusique}}</date>
          </li>
          <li class="artist icon-user" ng-show="broadcast.performers">
            <a ng-href="https://www.last.fm/search/artists?q={{broadcast.authors | artist}}" target="_blank">{{broadcast.performers | artist}}</a>
          </li>
        </ul>
      </article>
    </section>
  </div>

  <nav ng-show="broadcasts.length > 1">
    <ul>
      <li>
        <button ng-click="previous()">
          <span class="icon-left-open"></span>
          <span class="label">Previous</span>
        </button>
      </li>
      <li>
        <button ng-click="next()">
          <span class="label">Next</span>
          <span class="icon-right-open"></span>
        </button>
      </li>
    </ul>
  </nav>
</main>

<footer class="alternate">
  <nav>
    <ul>
      <li class="main">
        <a href="https://www.fip.fr/archives-antenne" class="iconify" target="_blank">{{'archives' | i18n}}</a>
      </li>
      <li>
        <a href="#settings">{{ 'change_settings' | i18n }}</a>
      </li>
    </ul>
  </nav>
</footer>

<script src="./bundle.js" type="module"></script>
</body>
</html>
