body{
  background: #fafafa;
  font-family: "Helvetica Nueue", "Trebuchet MS", Trebuchet, sans-serif;
  margin: 0;
  padding: 0;
  width: 425px;
}

h1{
  background: #E2007A;
  color: #f5f5f5;
  font-weight: normal;
  margin: 0;
  padding: .5em;
  position: relative;
}

h2{
  line-height: .9;
  margin: 0 0 .5em;
}

#player-control{
  background: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 1em;
  letter-spacing: .1em;
  line-height: .9;
  padding: 0;
  position: absolute;
  right: 10px;
  vertical-align: middle;
}
  #player-control:focus{
    outline: none;
  }
  #player-control:active{
    color: #ccc;
    text-shadow: 0 0 20px rgba(255,255,255,.5);
    -webkit-transition: all .1s;
    transition: all .1s;
  }

  #player-control.stopped::after,
  #player-control.errored::after{
    content: "\25B6";              /* ▶ */
  }

  #player-control.playing::after,
  #player-control.buffering::after{
    content: "\2759\2759";    /* ❙❙ */
  }



main{
  display: table-row;
}

aside, article{
  padding: 10px 0 10px 10px;
}

aside{
  display: table-cell;
  text-align: center;
  vertical-align: top;
  width: 106px;
}
  .album-cover{
    background: #E2007A;
    border: 3px solid #000;
    height: 100px;
    width: 100px;
  }

article{
  display: table-cell;
  width: 300px;
}

  date{
    font-style: italic;
  }
  article p{
    margin: 0 0 .5em;
  }

  .label{

  }
[data-label]::before{
  font-weight: bold;
  text-transform: capitalize;
}

html[lang] [data-label]::before,
html[lang^="en"] [data-label]::before{
  content: attr(data-label)  ":";
}
html[lang^="fr"] [data-label]::before{
  content: attr(data-label)  " :";
}
