:root {
  --default-transition-duration: 0.3s;
  --default-transition-function: ease-out;

  --background-color: #fafafa;
  --foreground-color: #e07;
  --gutter-width: 10px;
  --text-color: #111;
}

body{
  background: var(--background-color);
  font-family: "Helvetica Neue", "Trebuchet MS", Trebuchet, sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
  min-width: 300px;
  max-width: 450px;
}
@supports (-webkit-appearance:none) and (not (overflow:-webkit-marquee))
and (not (-ms-ime-align:auto)) and (not (-moz-appearance:none)) {
  body {
    min-width: 450px;
  }
}

.ng-hide {
  display: none;
}

label,
input[type="checkbox"],
input[type="range"]{
  cursor: pointer;
}

a:focus,
a:hover{
  text-decoration: none;
}

h1{
  font-weight: normal;
  margin: 0;
}

h2{
  font-size: 1.25em;
  margin: 0 0 var(--gutter-width);
}


/**
 * Popup Header
 */
header,
footer {
  background: var(--foreground-color);
  clear: both;
  color: var(--background-color);
  padding: var(--gutter-width);
  position: relative;
}

header a,
footer a {
  color: var(--background-color);
}

header.alternate,
footer.alternate {
  background: transparent;
  border: var(--foreground-color) solid 0;
  color: var(--text-color);
  opacity: 0.3;
  transition: opacity .5s;
}

header {
  display: flex;
  flex-flow: row nowrap;
}
  header h1 {
    flex: 1 0 auto;
  }

.alternate:focus,
.alternate:hover{
  opacity: 1;
}

.alternate a{
  color: var(--foreground-color);
}

footer.alternate{
  border-top-width: 3px;
}

#playback-button{
  background: transparent;
  border: none;
  color: var(--background-color);
  cursor: pointer;
  font-size: 1em;
  opacity: 1;
  padding: 0;
}

  #playback-button:hover{
    opacity: 0.8;
  }

  #playback-button:focus{
    outline: none;
  }

  #playback-button:active,
  #playback-button:focus{
    opacity: 1;
  }

  #playback-button:before{
    font-size: 2em;
    margin: 0;
    width: auto;
  }

  #playback-button.stopped::before,
  #playback-button.errored::before{
    content: "\e801";
  }

  #playback-button.playing::before,
  #playback-button.buffering::before{
    content: "\e802";
  }



/**
 * Popup Footer
 */
footer {
  font-size: .9em;
}
footer nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}

  footer nav ul li{
    text-align: right;
  }
    //Expanding any main row to use the whole width
  footer nav ul li.main{
    text-align: left;
  }

/**
 * Popup Content
 */
main{
  min-height: 170px;
  padding-bottom: var(--gutter-width) * 2;
  position: relative;
}
  main nav{
    bottom: 0;
    padding: var(--gutter-width);
    position: absolute;
    right: 0;
    z-index: 100;
  }
    main nav > ul{
      list-style: none;
    }
    main nav li{
      float: left;
      margin-left: 0;
      padding-right: 0;
      white-space: nowrap;
    }

    main nav button{
      background: transparent;
      border: none;
      color: var(--foreground-color);
      cursor: pointer;
      font-size: 1.3em;
      margin-left: 3px;
      padding: 0;
    }
      main nav button:hover,
      main nav button:focus {
        color: #333;
        outline: none;
      }

    main nav .label{
      display: none;
    }

.tiles{
  display: flex;
  flex-flow: row wrap;
  margin-left: 0;
}
  .tiles[data-current-index]{
    /* --current-index is set dynamically in the HTML document via Angular */
    /* margin-left: calc(var(--current-index) * 425px * -1); */
  }

section{
  display: none;
  width: 100%;
  will-change: display;
}
  section.show {
    display: flex;
  }

aside,
article {
  padding: var(--gutter-width);
}

aside{
  flex: 0;
  text-align: center;
  vertical-align: top;
}
  .album-cover{
    background: var(--foreground-color);
    border: 1px solid var(--text-color);
    height: 100px;
    margin-bottom: var(--gutter-width) / 2;
    width: 100px;
  }

article{
  flex: 1 1 auto;
  padding-left: 0;
}
  article a{
    color: var(--text-color);
    text-decoration: none;
  }
    article a:focus,
    article a:hover{
      color: #E2007A;
      text-decoration: underline;
    }


.metadata{
  display: flex;
  flex-flow: row wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}
  .metadata > li{
    flex: 1 1 100%;
    margin-bottom: calc(var(--gutter-width) / 2);
  }
  .metadata > .album-date {
    white-space: nowrap;
  }

  @media screen and (min-width: 400px) {
    .metadata > .album-title{
      flex: 1 1 70%;
    }
    .metadata > .album-date{
      flex: 0 1 0;
    }
  }

// authenticated
[ng-controller="ScrobblingController"] [for="scrobbling-switch"] span{
  font-style: italic;
}

//not-authenticated
[ng-controller="ScrobblingController"] [ng-click]{
  color: var(--foreground-color);
  text-decoration: underline;
}
  [ng-controller="ScrobblingController"] [ng-click]:hover,
  [ng-controller="ScrobblingController"] [ng-click]:focus{
    text-decoration: none;
  }

/**
 * Iconification
 */
.iconify::before{
  background: transparent no-repeat center center;
  background-size: cover;
  content: "";
  display: inline-block;
  height: 1em;
  margin-right: 0.3em;
  vertical-align: middle;
  width: 1em;
}
[href*="fip.fr"].iconify::before{
  background-image: url('../resources/fip.png');
}

.icon-deactivated::before {
  color: #777;
  text-decoration: none !important;
}
.icon-activated::before {
  color: #090;
  text-decoration: none !important;
}

/**
 * Statuses
 */
 .status {
   display: block;
 }
 .status[data-status]::before{
   border: 1px solid #ccc;
   border-radius: 20px;
   color: var(--text-color);
   font-size: 0.8em;
   padding: 2px 15px;
   white-space: nowrap;
 }

 .status[data-status="previous"]::before{
   content: "__MSG_status_previous__";
 }
 .status[data-status="next"]::before{
   content: "__MSG_status_next__";
 }
 .status[data-status="current"]::before{
   content: "__MSG_status_current__";
 }
 .status[data-status="current"]::before{
   background-color: var(--foreground-color);
   border-color: var(--foreground-color);
   color: var(--background-color);
   font-weight: bold;
 }
