/* line 5, popup.scss */
body {
  background: #fafafa;
  font-family: "Helvetica Nueue", "Trebuchet MS", Trebuchet, sans-serif;
  margin: 0;
  padding: 0;
  width: 425px;
}

/* line 13, popup.scss */
a:focus, a:hover {
  text-decoration: none;
}

/* line 17, popup.scss */
h1 {
  font-weight: normal;
  margin: 0;
}

/* line 22, popup.scss */
h2 {
  line-height: 0.9;
  margin: 0 0 10px;
}

/**
 * Popup Header
 */
/* line 31, popup.scss */
header, footer {
  background: #e2007a;
  clear: both;
  color: #fafafa;
  padding: 10px;
  position: relative;
}
/* line 38, popup.scss */
header a, footer a {
  color: #fafafa;
}
/* line 42, popup.scss */
header.alternate, footer.alternate {
  background: transparent;
  border: #e2007a solid 0;
  color: #111111;
  opacity: 0.3;
  -webkit-transition: opacity 0.3s ease-out;
  -moz-transition: opacity 0.3s ease-out;
  -o-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
}

/* line 52, popup.scss */
.alternate:focus, .alternate:hover {
  opacity: 1;
}
/* line 56, popup.scss */
.alternate a {
  color: #e2007a;
}

/* line 61, popup.scss */
footer.alternate {
  border-top-width: 3px;
}

/* line 65, popup.scss */
#player-controls {
  background: #e2007a;
  clip: rect(0, 210px, 50px, 160px);
  padding: 10px 0 10px 15px;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transition: clip 0.1s ease-out;
  -moz-transition: clip 0.1s ease-out;
  -o-transition: clip 0.1s ease-out;
  transition: clip 0.1s ease-out;
}
/* line 74, popup.scss */
#player-controls:hover {
  clip: rect(0, 250px, 50px, 0);
}

/* line 80, popup.scss */
.volume-control {
  margin-top: -5px;
  vertical-align: super;
}
/* line 84, popup.scss */
.volume-control::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  height: 4px;
}
/* line 91, popup.scss */
.volume-control::-webkit-slider-thumb {
  -webkit-appearance: none;
  cursor: ew-resize;
  margin-top: -7px;
}
/* line 96, popup.scss */
.volume-control::-webkit-slider-thumb:after {
  background: #fafafa;
  border-radius: 50%;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3), -1px -1px 1px rgba(0, 0, 0, 0.2);
  color: #e2007a;
  content: "\e806";
  display: block;
  font-family: fontello;
  font-size: 1.3em;
  height: 20px;
  line-height: 1.5;
  text-align: center;
  vertical-align: top;
  width: 20px;
}
/* line 113, popup.scss */
.volume-control.level-high::-webkit-slider-thumb:after {
  content: "\e807";
}
/* line 116, popup.scss */
.volume-control.level-low::-webkit-slider-thumb:after {
  content: "\e805";
}

/* line 122, popup.scss */
#playback-button {
  background: transparent;
  border: none;
  color: #fafafa;
  cursor: pointer;
  font-size: 1em;
  letter-spacing: 0.1em;
  line-height: 0.9;
  opacity: 1;
  padding: 0;
  -webkit-transition: opacity 0.3s ease-out;
  -moz-transition: opacity 0.3s ease-out;
  -o-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
}
/* line 135, popup.scss */
#playback-button:hover {
  opacity: 0.8;
}
/* line 139, popup.scss */
#playback-button:focus {
  outline: none;
}
/* line 143, popup.scss */
#playback-button:active {
  opacity: 1;
}
/* line 147, popup.scss */
#playback-button:before {
  font-size: 2em;
}
/* line 152, popup.scss */
#playback-button.stopped::before, #playback-button.errored::before {
  content: "\e801";
}
/* line 157, popup.scss */
#playback-button.playing::before, #playback-button.buffering::before {
  content: "\e802";
}

/**
 * Popup Footer
 */
/* line 167, popup.scss */
footer {
  margin-top: 15px;
}
/* line 171, popup.scss */
footer nav ul {
  display: -webkit-flex;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 179, popup.scss */
footer nav li {
  -webkit-flex: 1;
  flex: 1;
}
/* line 184, popup.scss */
footer nav li.main {
  -webkit-flex: 2;
  flex: 2;
}

/**
 * Popup Content
 */
/* line 194, popup.scss */
main {
  display: table-row;
}

/* line 198, popup.scss */
aside, article {
  padding: 10px 0 10px 10px;
}

/* line 202, popup.scss */
aside {
  display: table-cell;
  text-align: center;
  vertical-align: top;
  width: 106px;
}

/* line 208, popup.scss */
.album-cover {
  background: #e2007a;
  border: 3px solid #111111;
  height: 100px;
  width: 100px;
}

/* line 215, popup.scss */
article {
  display: table-cell;
  padding-right: 10px;
  width: 300px;
}
/* line 220, popup.scss */
article a {
  color: #111111;
  text-decoration: none;
}
/* line 225, popup.scss */
article a:focus, article a:hover {
  color: #E2007A;
  text-decoration: underline;
}

/* line 233, popup.scss */
.metadata {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 242, popup.scss */
.metadata > li {
  -webkit-flex: auto;
  flex: auto;
  margin-bottom: 0 0 0.5em;
}
/* line 248, popup.scss */
.metadata > .album-date {
  -webkit-flex: 1;
  flex: 1;
  min-width: 60px;
  text-align: right;
}
/* line 254, popup.scss */
.metadata > .artist {
  margin-top: 0.5em;
  width: 100%;
}

/**
 * Iconification
 */
/* line 264, popup.scss */
.iconify::before {
  background: transparent no-repeat center center;
  background-size: cover;
  content: "";
  display: inline-block;
  height: 1em;
  margin-right: 0.3em;
  vertical-align: middle;
  width: 1em;
}

/* line 274, popup.scss */
[href*="fipradio.fr"].iconify::before {
  background-image: url("../resources/fip-128x128.png");
}
