body{
  background: #fafafa;
  font-family: "Helvetica Nueue", "Trebuchet MS", Trebuchet, sans-serif;
  margin: 0;
  padding: 0;
  width: 425px;
}

a:focus, a:hover{
  text-decoration: none;
}

h1{
  font-weight: normal;
  margin: 0;
}

h2{
  line-height: 0.9;
  margin: 0 0 0.5em;
}


/**
 * Popup Header
 */

header, footer{
  background: #E2007A;
  clear: both;
  color: #f5f5f5;
  padding: 10px;
  position: relative;
}
header a,
footer a{
  color: #fff;
}

header.alternate, footer.alternate{
  background: #fff;
  border: #E2007A solid 0;
  color: #333;
  opacity: 0.3;
  -webkit-transition: opacity 0.3s ease-out;
}
footer.alternate{
  border-top-width: 3px;
}
.alternate:focus, .alternate:hover{
  opacity: 1;
}
.alternate a{
  color: #E2007A;
}

#player-controls{
  background: #E2007A;
  clip: rect(0, 210px, 50px, 160px);
  padding: 10px 0 10px 15px;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transition: clip 0.1s ease;
  transition: clip 0.2s ease;
}
  #player-controls:hover{
    clip: rect(0, 250px, 50px, 0);
  }

#playback-button{
  background: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 1em;
  letter-spacing: 0.1em;
  line-height: 0.9;
  padding: 0;
}
  #playback-button:hover{
    opacity: 0.9;
  }

  #playback-button:focus{
    outline: none;
  }
  #playback-button:active{
    font-size: 0.95em;
    opacity: 1;
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
  }

  #playback-button::before{
    font-size: 2em;
  }
  #playback-button.stopped::before,
  #playback-button.errored::before{
    content: "\e801";
  }

  #playback-button.playing::before,
  #playback-button.buffering::before{
    content: "\e802";
  }

/**
 * Popup Footer
 */
footer{
  margin-top: 1em;
}
footer nav ul{
  display: -webkit-flex;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

footer nav li{
  -webkit-flex: 1;
  flex: 1;
}
footer nav li.main{
  -webkit-flex: 2;
  flex: 2;
}

/**
 * Popup Content
 */
main{
  display: table-row;
}

aside, article{
  padding: 10px 0 10px 10px;
}

aside{
  display: table-cell;
  text-align: center;
  vertical-align: top;
  width: 106px;
}
  .album-cover{
    background: #E2007A;
    border: 3px solid #000;
    height: 100px;
    width: 100px;
  }

article{
  display: table-cell;
  width: 300px;
}
  article a{
    color: #000;
    text-decoration: none;
  }
  article a:focus,
  article a:hover{
    color: #E2007A;
    text-decoration: underline;
  }

  date{
    font-style: italic;
  }
  article p{
    margin: 0 0 0.5em;
  }

  .label{

  }
[data-label]::before{
  font-weight: bold;
  text-transform: capitalize;
}

html[lang] [data-label]::before,
html[lang^="en"] [data-label]::before{
  content: attr(data-label)  ":";
  margin-right: 0.2em;
}
html[lang^="fr"] [data-label]::before{
  content: attr(data-label)  " :";
}

/**
 * Iconification
 */
.iconify::before{
  background: transparent no-repeat center center;
  background-size: cover;
  content: "";
  display: inline-block;
  height: 1em;
  margin-right: 0.3em;
  vertical-align: middle;
  width: 1em;
}
[href*="fipradio.fr"].iconify::before{
  background-image: url('../resources/fip-128x128.png');
}
