@import "../resources/sass/base";
@import "../resources/sass/statuses";

body{
  background: $background-color;
  font-family: "Helvetica Neue", "Trebuchet MS", Trebuchet, sans-serif;
  margin: 0;
  padding: 0;
  width: 425px;
}

.ng-hide {
  display: none;
}

label,
input[type="checkbox"],
input[type="range"]{
  cursor: pointer;
}

a:focus,
a:hover{
  text-decoration: none;
}

h1{
  font-weight: normal;
  margin: 0;
}

h2{
  line-height: 0.9;
  margin: 0 0 $gutter-width;
}


/**
 * Popup Header
 */
header,
footer{
  background: $foreground-color;
  clear: both;
  color: $background-color;
  padding: $gutter-width;
  position: relative;

  a{
    color: $background-color;
  }

  &.alternate{
    background: transparent;
    border: $foreground-color solid 0;
    color: $text-color;
    opacity: 0.3;
    transition: opacity .5s;
  }
}

.alternate{
  &:focus,
  &:hover{
    opacity: 1;
  }

  a{
    color: $foreground-color;
  }
}

footer.alternate{
  border-top-width: 3px;
}

#player-controls{
  background: $foreground-color;
  padding: $gutter-width 0 $gutter-width $gutter-width*1.5;
  position: absolute;
  right: 0;
  top: 0;
}


#playback-button{
  background: transparent;
  border: none;
  color: $background-color;
  cursor: pointer;
  font-size: 1em;
  opacity: 1;
  padding: 0;

  &:hover{
    opacity: 0.8;
  }

  &:focus{
    outline: none;
  }

  &:active,
  &:focus{
    opacity: 1;
  }

  &:before{
    font-size: 2em;
  }

  &.stopped::before,
  &.errored::before{
    content: "\e801";
  }

  &.playing::before,
  &.buffering::before{
    content: "\e802";
  }
}



/**
 * Popup Footer
 */
footer{
  nav{
    ul{
      display: flex;
      list-style: none;
      margin: 0;
      padding: 0;
    }

    li{
      flex: 1;
      text-align: right;

      //Expanding any main row to use the whole width
      &.main{
        text-align: left;
      }
    }
  }
}

/**
 * Popup Content
 */
main{
  overflow: hidden;
  padding-bottom: $gutter-width * 2;
  position: relative;
  width: 100%;

  nav{
    bottom: 0;
    opacity: 0.5;
    padding: $gutter-width;
    position: absolute;
    right: 0;

    &:hover{
      opacity: 1;
    }

    > ul{
      list-style: none;

      li{
        float: left;
        margin-left: 0;
        padding-right: 0;
        white-space: nowrap;
      }
    }

    button{
      background: #fff;
      border: 1px solid $foreground-color;
      border-radius: 3px;
      color: $foreground-color;
      margin-left: 3px;
    }

    .label{
      display: none;
    }
  }
}

.tiles{
  margin-left: 0;
  transition: margin-left .5s;
  width: 1000%;    // enough for 10 tiles

  @for $index from 0 to 10{
    &[data-current-index="#{$index}"]{
      margin-left: -$index * 425px;
    }
  }
}

section{
  display: table;
  float: left;
  width: 425px;
}

aside,
article {
  padding: $gutter-width 0 $gutter-width $gutter-width;
}

aside{
  display: table-cell;
  text-align: center;
  vertical-align: top;
  width: 110px;
}
  .album-cover{
    background: $foreground-color;
    border: 3px solid $text-color;
    height: 100px;
    margin-bottom: $gutter-width / 2;
    width: 100px;
  }

article{
  display: table-cell;
  padding-right: $gutter-width;
  width: 300px;

  a{
    color: $text-color;
    text-decoration: none;

    &:focus,
    &:hover{
      color: #E2007A;
      text-decoration: underline;
    }
  }
}


.metadata{
  list-style: none;
  margin: 0;
  padding: 0;

  > li{
    margin-bottom: $gutter-width;
  }

  > .album-date,
  > .album-title{
    float: left;
  }

  > .album-title{
    width: 76%;
  }
  > .album-date{
    width: 24%;
    text-align: right;
  }
  > .artist{
    clear: both;
    margin-top: 0.5em;
  }
}

[ng-controller="ScrobblingController"]{
  // authenticated
  [for="scrobbling-switch"] span{
    font-style: italic;
  }

  //not-authenticated
  [ng-click]{
    color: $foreground-color;
    text-decoration: underline;

    &:hover, &:focus{
      text-decoration: none;
    }
  }
}

/**
 * Iconification
 */
.iconify::before{
  background: transparent no-repeat center center;
  background-size: cover;
  content: "";
  display: inline-block;
  height: 1em;
  margin-right: 0.3em;
  vertical-align: middle;
  width: 1em;
}
[href*="fip.fr"].iconify::before{
  background-image: url('../resources/fip.png');
}
